<a href="https://colab.research.google.com/github/LIMSONA/K-Digital-Training/blob/main/ELK_project_DateFrame_birth_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
import pandas as pd

# CSV 파일 불러와서 내용 확인하기

In [2]:
from google.colab import files
uploaded  = files.upload()

Saving birth_data.csv to birth_data.csv

In [3]:
os.listdir("./")

['.config', 'birth_data.csv', 'drive', '.ipynb_checkpoints', 'sample_data']

In [4]:
birth_src='birth_data.csv'

In [5]:
df = pd.read_csv(birth_src,encoding='CP949')
df

              시점 출생아수(명)
0             시점      전국
1       1985. 01   72917
2       1985. 02   75291
3       1985. 03   48440
4       1985. 04   45366
..           ...     ...
437  2021. 05 p)   22052
438  2021. 06 p)   21526
439  2021. 07 p)   22352
440  2021. 08 p)   22291
441  2021. 09 p)   21920

[442 rows x 2 columns]

# 데이터 전처리하기

row의 경우 연도별/ col의 경우 월별로 세팅하기

In [6]:
mt = [i for i in range(1,13)]
yr = [i for i in range(1985,2021)]

In [7]:
df1= pd.DataFrame(columns=yr, index=mt)
df1.head()

  1985 1986 1987 1988 1989 1990 1991  ... 2014 2015 2016 2017 2018 2019 2020
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[5 rows x 36 columns]

In [11]:
i = 0
for year in range(1985, 2021):
    for month in range(1, 13):
        #df[행][열]
        df1[year][month] = df.iloc[month + i, 1]
    year += 1 # 열(년도)이 1개씩 커져야함
    i += 12 # df에서 12달씩 끊어야함    
df1

     1985   1986   1987   1988   1989  ...   2016   2017   2018   2019   2020
1   72917  69708  66975  69373  67060  ...  39405  34834  32198  30271  26646
2   75291  73659  72652  72415  74369  ...  34830  30499  27575  25710  22759
3   48440  48593  46306  43404  44941  ...  38131  33196  29987  27049  24190
4   45366  47880  47635  44318  45984  ...  35147  30337  27734  26104  23299
5   47386  47800  47452  46754  48205  ...  34341  30303  27949  25299  22847
6   46209  45245  45605  44489  45277  ...  32849  28892  26357  23992  22117
7   50174  48895  46936  47122  48222  ...  33920  29418  27033  25222  22999
8   52437  49608  48582  49807  50202  ...  33897  30135  27381  24371  22402
9   51726  50185  50479  52448  53121  ...  34375  30085  26066  24090  23499
10  57499  52638  53605  55500  53824  ...  31592  27857  26474  25613  21884
11  54395  52631  50425  54895  53011  ...  30366  27068  25301  23727  20054
12  53649  49177  47179  52567  55215  ...  27390  25147  22767  21228  19641

[12 rows x 36 columns]

In [14]:
df1.to_csv('df_birth_data.csv')

In [15]:
os.listdir("./")

['.config',
 'birth_data.csv',
 'drive',
 '.ipynb_checkpoints',
 'df_birth_data.csv',
 'sample_data']